<div class="container bg-light">
    <div class="bg-light h5">Add Employee</div>
    <div class="col-3">
        <form #myForm="ngForm" >
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input placeholder="name" type="text" [(ngModel)]="employee.name" name="name" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input placeholder="email" type="text" [(ngModel)]="employee.email" name="email" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Department</label>
                <input placeholder="department" type="text" [(ngModel)]="employee.department" name="department" class="form-control">
            </div>
            <div class="mb-3">
                <button type="button" (click)="addProduct()" class="btn btn-secondary">Add</button>
            </div>    
        </form>
    </div>
</div>